h1 {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    font-size: 64px;    
    margin: 0px;
    justify-content: center;
}

.container{
    width: 500px;
    height: 500px;
    border: 4px solid black;
    margin-right: -1px;
    margin-bottom: -1px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.grid{
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 24px;
}

button {
    background-color: #0084ff;
    border-radius: 8px;
    border-style: none;
    padding: 16px;
    font-weight: 900;
}

.change-color{
   height: 50px;
   width: 100px;
   background-color: attr(value);
   border-width: 0px;
}